@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Charm&family=Kaushan+Script&display=swap');
/* css resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Charm', cursive;
    background: #EEE;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Kaushan Script', cursive;
}

input {
    color: grey;
}

input[type="radio"] {
    display: none;
}

i {
    background: none;
}

::placeholder {
    font-family: 'Caveat', cursive;
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* styles */
h1.greetings .title {
    font-size: 2.5rem;
}

h1.greetings input {
    outline: none;
    border: none;
    font-size: 1.5rem;
}
h1.greetings input:focus{
    padding-left: .3rem;
    border: 2px solid rgb(54, 12, 159);
    border-radius: .2rem;
}
.create-todo {
    margin-top: 1rem;
}

.create-todo__title .title,
.todo-container .title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.create-todo__title input {
    font-size: 1.6rem;
    width: calc(100% - .5rem);
    padding: 1rem;
    margin: .5rem;
    border-radius: .5rem;
    background: #fff;
    border: 3px solid #e4e4e4;
    outline: none;
}

/* bubble  */
.create-todo .options {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: .5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    cursor: pointer;
    width: 10rem;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    border: 2px solid #3a82ee;
    box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    ;
}

.bubble.personal {
    border-color: #EA40A4;
    box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: #3a82ee;
    box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
    border-radius: 999px;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: #EA40A4;
    ;
    box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

input:checked~.bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: #313154;
    font-size: 1.125rem;
    padding-left: .5rem;
    background: #fff;
}

/* form control  */
.form-control {
    display: flex;
    justify-content: center;
    position: relative;
    left: -3rem;
}

button.add-todo {
    margin: 1rem;
    min-width: 30%;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 1rem;
    border: 3px solid #771aa9;
    color: #fff;
    background: #0066ffbb;
}

button.remove-all {
    margin: 1rem;
    margin-left: 0rem;
    font-size: 2rem;
    min-width: 10%;
    border-radius: 1rem;
    border: 3px solid #771aa9;
    color: red;
}

.todo-list {
    margin-top: 1rem;
}

.todo-list .title {
    font-size: 2.2rem;
}

/* todo list  */
.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
    background: none;
}

.todo-item .todo-content input {
    color: #313154;
    font-size: 1.125rem;
    border: none;
    background: none;
    outline: none;
    width: 100%;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.1rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: #EA40A4;
    ;
}

.actions button i {
    background: none;
    font-size: 1.6rem;
}

.todo-item .actions .delete {
    background-color: #ff5b57;
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
}


@media screen and (max-width: 750px) {
    body {
        margin: 1rem;
    }

    h1.greetings .title {
        font-size: 2rem;
    }

    h1.greetings input {
        font-size: 1.1rem;
        width: calc(100% - 150px);
    }

    .create-todo__title .title {
        font-size: 1.2rem;
    }

    .create-todo__title input {
        font-size: 1.3rem;
        padding: 0.4rem;
    }


    .create-todo .options label {
        padding: 0.2rem;
        width: 7rem;
    }

    .create-todo .options {
        margin-bottom: 0;
    }

    .create-todo .options label div {
        font-size: 1rem;
    }

    .bubble {
        height: 12px;
        width: 12px;
    }

    input:checked~.bubble::after {
        height: 7px;
        width: 7px;
    }

    button.add-todo {
        font-size: .8rem;
        margin: 1rem;
        margin-right: .2rem;
        border-radius: .5rem;
    }

    button.remove-all {
        font-size: 1.2rem;
        border-radius: .5rem;
    }

    .form-control {
        left: 0;
    }

    .todo-list .title {
        font-size: 1.8rem;
    }

    .actions button i {
        font-size: 1rem;
    }

    .todo-item .actions button {
        padding: .3rem .2rem .1rem .2rem;
    }
}

/* utility class  */
.flex {
    display: flex;
    justify-content: center;
}